<sly data-sly-use.card="org.redquark.aem.tutorials.core.models.Card"></sly>
<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"></sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!card.cardTitle}"></sly>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"></sly>
<sly data-sly-call="${clientlib.css @ categories='aemtutorials.card'}"></sly>

<div class="card ph1">
  <div class="overlay">
    <h2 class="title">${card.organizationName}</h2>
    <h2 class="title">${card.cardTitle}</h2>
    <a class="link" href=${card.homepageURL}>${card.buttonText}</a>
  </div>
</div>
